
<div class="row">
  <div class="col-2">

    <ul class="nav nav-pills flex-column">
      <li class="nav-item" *ngFor="let item of SettingItemEnumType | enumStringValue">
        <a class="nav-link" href="#" [ngClass]="{'active': item === selectedItem}" (click)="onItemClick($event, item)">{{item}}</a>
      </li>
    </ul>

  </div>

  <div class="col-10">
    <div class="container-fluid">
      <app-payment-objects-table *ngIf="selectedItem === SettingItemEnumType.PAYMENT_OBJECTS"></app-payment-objects-table>
      <app-payment-groups-table *ngIf="selectedItem === SettingItemEnumType.PAYMENT_GROUPS"></app-payment-groups-table>
      <app-products-table *ngIf="selectedItem === SettingItemEnumType.PRODUCTS"></app-products-table>
      <app-import-export *ngIf="selectedItem === SettingItemEnumType.IMPORT_EXPORT"></app-import-export>

      <app-message *ngIf="selectedItem !== SettingItemEnumType.IMPORT_EXPORT"></app-message>
    </div>
  </div>

</div>

