
<div class="row mt-3">
  <div class="col-2">

    <ul class="nav nav-pills flex-column">
      <li class="nav-item" *ngFor="let item of settingItems">
        <a class="nav-link" href="#" [ngClass]="{'active': item === selectedItem}" (click)="onItemClick($event, item)">{{item.name}}</a>
      </li>
    </ul>

  </div>

  <div class="col-10">
    <div class="container-fluid">
      <app-payment-objects-table *ngIf="selectedItem.id === 100"></app-payment-objects-table>
      <app-payment-groups-table *ngIf="selectedItem.id === 200"></app-payment-groups-table>

      <app-message></app-message>
    </div>
  </div>

</div>

