
<div class="container-fluid">

  <app-message></app-message>

  <!--

  <div *ngFor="let item of getPaymentObjects()">
    <button type="button" class="btn btn-primary w-100 mt-4" (click)="onSelectPaymentObject($event, item.id)">{{item.name}}</button>
  </div>

  -->

  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6 mb-2" *ngFor="let item of getPaymentObjectTotals()">
      <div class="card">
        <div class="card-body">
          <a href="#" class="stretched-link" (click)="onSelectPaymentObject($event, item)"></a>
          <div class="d-flex">
            <div class="flex-grow-1">
              <h5 class="card-title">{{item.paymentObject.name}}</h5>
            </div>
            <div *ngIf="item.paymentOverdue">
              <fa-icon [icon]="['fas', 'exclamation']" class="text-danger"></fa-icon>
            </div>
          </div>

          <div class="d-flex">
            <div class="mr-auto" style="z-index: 1">
              <a href="#" (click)="onReportPaymentObject($event, item)">
                <fa-icon [icon]="['fas', 'chart-line']" class="text-muted h4"></fa-icon>
              </a>
            </div>
            <div>
              {{item.paymentDate | shortMonthYear}} <app-core-colored-value-label [value]="item.paymentAmount | amount" [displayZero]="true"></app-core-colored-value-label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-core-loading-progress [loadable]="repository"></app-core-loading-progress>

</div>
