
<div class="container-fluid">

  <app-message></app-message>

  <div class="row justify-content-center">
    @for (item of readRepository.dataSignal(); track item.paymentObject.id) {
      <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
        <div class="card">
          <div class="card-body">
            <a href="#" class="stretched-link" (click)="onSelectPaymentObject($event, item)"></a>
            <div class="d-flex">
              <div class="flex-grow-1">
                <h5 class="card-title">{{item.paymentObject.name}}</h5>
              </div>
              @if (item.paymentOverdue) {
                <div>
                  <fa-icon [icon]="['fas', 'exclamation']" class="text-danger"></fa-icon>
                </div>
              }
            </div>
            <div class="d-flex">
              <div class="flex-grow-1" style="z-index: 1">
                <app-report-nav [itemId]="item.paymentObject.id" navigatePath="reports"></app-report-nav>
              </div>
              <div>
                {{item.paymentDate | shortMonthYear}} <app-core-colored-value-label [value]="item.paymentAmount | amount" [displayZero]="true"></app-core-colored-value-label>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <app-core-loading-progress [loading]="readRepository.loadingSignal()"></app-core-loading-progress>

</div>
