
<app-message></app-message>

<div class="d-inline-flex align-items-center" *ngIf=paymentObjectTotals>
  <app-payments-date-selection (selectedDate)="onSelectDate($event)" [paymentObjectTotals]=paymentObjectTotals></app-payments-date-selection>
  <div class="ml-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-2">
        <li aria-current="page"><h5 class="mb-0">{{this.paymentObjectTotals && this.paymentObjectTotals.paymentObject && this.paymentObjectTotals.paymentObject.name}}</h5></li>
      </ol>
    </nav>
  </div>
  <div class="ml-2">
    <app-report-nav [itemId]="this.paymentObjectId" navigatePath="reports"></app-report-nav>
  </div>
</div>

<app-payments-table
  [paymentObjectId]="paymentObjectId"
  [paymentPeriodDate]="selectedDate"
  (paymentObject)="onPaymentObject($event)"
  *ngIf=paymentObjectTotals>
</app-payments-table>

<app-core-loading-progress [loadable]="repository"></app-core-loading-progress>
