
@if (paymentObjectTotals(); as totals) {
  <div class="payments-header">
    <app-payments-date-selection (selectedDate)="onSelectDate($event)" [paymentObjectTotals]="totals"></app-payments-date-selection>
    <h5 class="app-title-large object-title">{{totals.paymentObject?.name}}</h5>
    <app-report-nav [itemId]="paymentObjectId" navigatePath="reports"></app-report-nav>
  </div>

  <app-payments-table
    [paymentObjectId]="paymentObjectId"
    [paymentPeriodDate]="selectedDate()">
  </app-payments-table>
}

<app-core-loading-progress [loading]="readRepository.loadingSignal()"></app-core-loading-progress>
