<p>payments-date-selection works!</p>
<form class="form-inline" [formGroup]="editForm">
  <button class="btn btn-outline-primary" (click)="addMonth(-1)"><i class="fas fa-angle-left fa-lg"></i></button>

  <label class="ml-2">
    <select class="browser-default custom-select" formControlName="month">
      <option *ngFor="let item of dr.getMonths()" value="{{item.id}}">{{item.name}}</option>
    </select>
  </label>

  <label class="ml-2">
    <select class="browser-default custom-select" formControlName="year">
      <option *ngFor="let item of dr.getYears()" value="{{item}}">{{item}}</option>
    </select>
  </label>

  <button class="btn btn-outline-primary ml-2" (click)="addMonth(1)"><i class="fas fa-angle-right fa-lg"></i></button>

</form>
<div>{{this.lastSelectedDate}}</div>
