
<form class="form-inline" [formGroup]="editForm">
  <button class="btn btn-outline-primary" (click)="addMonth(-1)"><i class="fas fa-angle-left fa-lg"></i></button>

  <label class="ml-2">
    <select class="browser-default custom-select" formControlName="monthSelect" name="monthSelect">
      <option *ngFor="let item of months" value="{{item.id}}">{{item.name}}</option>
    </select>
  </label>

  <label class="ml-2">
    <select class="browser-default custom-select" formControlName="yearSelect" name="yearSelect">
      <option *ngFor="let item of years" value="{{item}}">{{item}}</option>
    </select>
  </label>

  <button class="btn btn-outline-primary ml-2" (click)="addMonth(1)"><i class="fas fa-angle-right fa-lg"></i></button>

</form>

