<form class="date-selection" [formGroup]="editForm">
  <button matIconButton type="button" [disabled]="selectedFirstDate()" (click)="addPeriod(-1)" aria-label="Previous period">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <mat-form-field subscriptSizing="dynamic">
    <mat-select formControlName="periodSelect" name="periodSelect">
      @for (item of periods(); track item.id) {
        <mat-option [value]="item.id">{{item.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-select formControlName="yearSelect" name="yearSelect">
      @for (item of years(); track item) {
        <mat-option [value]="item">{{item}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button matIconButton type="button" [disabled]="selectedLastDate()" (click)="addPeriod(1)" aria-label="Next period">
    <mat-icon>chevron_right</mat-icon>
  </button>
</form>
