<h2 mat-dialog-title>Import payments</h2>
<mat-dialog-content>
  <app-core-loading-progress [loading]="loadingSignal()"></app-core-loading-progress>
  @if (!loadingSignal()) {
      <mat-selection-list [formField]="importForm.items">
        @for (importItem of dataSignal(); track importItem) {
          <mat-list-option [value]="importItem" togglePosition="before" [selected]="!importItem.scan.disabled" [disabled]="importItem.scan.disabled">
            <span class="row">
              <span class=description-cell>
                {{importItem.scan.productName}}
              </span>
              <span class="amount-cell">
                {{importItem.scan.scanValue | number : '1.2-2'}}
              </span>
            </span>
          </mat-list-option>
        }
      </mat-selection-list>

    <hr>
    <div class="row row-summary mdc-list-item">
      <div class="description-cell">
        <strong>Total</strong>
      </div>
      <div class="amount-cell">
        <strong>{{importTotals() | number : '1.2-2'}}</strong>
      </div>
    </div>
  }

</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="filled" class="confirm-button" [disabled]="loadingSignal() || (importTotals() === 0)" (click)="importOnClick()">Import</button>
  <button matButton mat-dialog-close [disabled]="loadingSignal()">Cancel</button>
</mat-dialog-actions>
