.row {
  display: flex;
  flex: 0 0;
  flex-direction: row;
  align-items: center;
}

.row-summary {
  font: var(--mat-sys-body-large);
}

.description-cell {
  display: flex;
  flex-grow: 1;
  white-space: wrap;
}

.amount-cell {
  margin-left: 1rem;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
}

