<div class="input-group mt-2 justify-content-end">
  <button *ngIf="editable.getEditState().editMode === EditMode.EM_CREATE" type="button" class="btn btn-outline-primary" (click)="onCreate()" [disabled]="loadable.getLoading()">Create</button>
  <button *ngIf="editable.getEditState().editMode === EditMode.EM_EDIT" type="button" class="btn btn-outline-primary" (click)="onSave()" [disabled]="loadable.getLoading()">Save</button>
  <button type="button" class="btn btn-outline-secondary ms-2" (click)="onCancel()" [disabled]="loadable.getLoading()">Cancel</button>
</div>

