<div class="card">
  <h5 class="card-header">
    <span *ngIf="!hasSelection()">Summary</span>
    <span *ngIf="hasSelection()">Selection / Summary</span>
  </h5>
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-grow-1">
        <div class="text-right">Payment</div>
        <div class="text-right">Commission</div>
      </div>
      <div class="ml-2 text-right" *ngIf="hasSelection()">
        <div><strong>{{getSelectedSummary().paymentAmount | amount}} / </strong></div>
        <div><strong>{{getSelectedSummary().commissionAmount | amount}} / </strong></div>
      </div>
      <div class="ml-2 text-right">
        <div><strong>{{getTotalSummary().paymentAmount | amount}}</strong></div>
        <div><strong>{{getTotalSummary().commissionAmount | amount}}</strong></div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2">
  <h5 class="card-header">
    By group
  </h5>
  <div class="card-body">
    <div class="table-responsive table-sm">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col" class="text-center">Group</th>
          <th scope="col" class="text-center">Payment</th>
          <th scope="col" class="text-center">Commission</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getGroupSummary()">
            <td class="text-left">{{item.groupName}}</td>
            <td class="text-right">{{item.paymentAmount | amount}}</td>
            <td class="text-right">{{item.commissionAmount | amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
