<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ hasSelection() ? 'Selection / Summary' : 'Summary' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="summary-row">
      <div class="summary-labels">
        <div>Payment</div>
        @if (paymentsTableDisplayOptions().showCommission()) {
          <div>Commission</div>
        }
      </div>
      @if (hasSelection()) {
        <div class="summary-values">
          <div><strong>{{selectedSummary().paymentAmount | amount}} / </strong></div>
          @if (paymentsTableDisplayOptions().showCommission()) {
            <div><strong>{{selectedSummary().commissionAmount | amount}} / </strong></div>
          }
        </div>
      }
      <div class="summary-values">
        <div><strong>{{totalSummary().paymentAmount | amount}}</strong></div>
        @if (paymentsTableDisplayOptions().showCommission()) {
          <div><strong>{{totalSummary().commissionAmount | amount}}</strong></div>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="group-card">
  <mat-card-header>
    <mat-card-title>By group</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="groupSummary()">
      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef>Group</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.paymentGroup.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>
          Payment@if (paymentsTableDisplayOptions().showCommission()) { / Commission}
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div class="amount-cell">
            <div>{{item.paymentAmount | amount}}</div>
            @if (paymentsTableDisplayOptions().showCommission() && item.commissionAmount) {
              <div class="amount-cell__commission"><small>{{item.commissionAmount | amount}}</small></div>
            }
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" [style.background-color]="row.paymentGroup.color"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
