
<div class="btn-group" dropdown insideClick="false">
  <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
    {{title}} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    @for (item of selectableItems; track item) {
      <li role="menuitem">
        <button class="dropdown-item" [ngClass]="{'active': item.isSelected}" (click)="dropDownClick($event, item)">{{item.value}}</button>
      </li>
    }
    <!--
    <li role="menuitem"><a class="dropdown-item active" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
  </li>
  -->
</ul>
</div>
