@let info = readRepository.dataSignal()[0];

<div>
  <div class="alert alert-info mb-2">
    @if (!info || info.backupFileCount === 0) {
      <div>Backup information not available</div>
    } @else {
      <div>Last backup time: <strong>{{info.lastBackupDateTime | date:'medium'}}</strong></div>
    }
  </div>
  <div class="input-group justify-content-end">
    <button type="button" class="btn btn-outline-primary" (click)="backupDatabaseClick()" [disabled]="loadingSignal()">Backup database</button>
  </div>
</div>

<app-core-loading-progress [loading]="loadingSignal"></app-core-loading-progress>
