@let info = readRepository.dataSignal()[0];

<div class="app-form">
  <div class="backup-info">
    @if (!info || info.backupFileCount === 0) {
      Backup information not available
    } @else {
      Last backup time: <strong>{{info.lastBackupDateTime | date:'medium'}}</strong>
    }
  </div>
  <div class="app-form-actions">
    <button type="button" matButton="outlined" (click)="backupDatabaseClick()" [disabled]="loadingSignal()">Backup database</button>
  </div>
</div>

<app-core-loading-progress [loading]="loadingSignal()"></app-core-loading-progress>
