<div class="btn-group" dropdown insideClick="false">
  <button id="button-animated" dropdownToggle type="button" class="btn btn-outline-primary pl-2 pr-2 rounded"
          aria-controls="form-dropdown-animated">
    <app-core-display-icon-element></app-core-display-icon-element>
  </button>
  <div id="form-dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
       role="menu" aria-labelledby="button-animated">
    <form class="form-group px-2 py-1" [formGroup]="columnDisplayForm">
      <div class="form-check custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="periodDate" name="periodDate" formControlName="periodDate">
        <label class="custom-control-label text-nowrap" for="periodDate">
          Date
        </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="paymentGroup" name="paymentGroup" formControlName="paymentGroup">
        <label class="custom-control-label text-nowrap" for="paymentGroup">
          Group
        </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="product" name="product" formControlName="product">
        <label class="custom-control-label text-nowrap" for="product">
          Product
        </label>
      </div>
    </form>
  </div>
</div>

