@let data = readRepository.dataSignal();

@if (!editingSignal() && !readRepository.errorSignal()) {
  <div class="table-toolbar">
    <app-core-add-panel (addClick)="onAddClick()"></app-core-add-panel>
    <div class="toolbar-end">
      <app-core-drop-down-more-menu>
        <button mat-menu-item (click)="onSetDefaultOrderClick($event)">Set default order</button>
      </app-core-drop-down-more-menu>
    </div>
  </div>

  <mat-table
    [dataSource]="data"
    cdkDropList
    cdkDropListLockAxis="y"
    (cdkDropListDropped)="onDrop($event)"
    [class.cursor-grip]="dragHandlerService.dragging">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <app-core-drag-grip cdkDragHandle></app-core-drag-grip>&nbsp;{{item.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitName">
      <mat-header-cell *matHeaderCellDef>Unit Name</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.unitName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <app-core-edit-delete-panel [item]="item" (deleteClick)="onDeleteClick(item)" (editClick)="onEditClick(item)"></app-core-edit-delete-panel>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      cdkDrag
      [cdkDragData]="row"
      (cdkDragStarted)="dragHandlerService.startDrag()"></mat-row>
  </mat-table>
}

@if (editStateSignal() && !loadingSignal()) {
  <form class="app-form" [formGroup]="editForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #inputName matInput formControlName="name" placeholder="Name" [errorStateMatcher]="errorMatcher">
      @if (editForm.controls.name.errors?.required) {
        <mat-error>Name should not be empty</mat-error>
      }
      @if (editForm.controls.name.errors?.existingName) {
        <mat-error>Name should be unique</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Unit Name</mat-label>
      <input #inputUnitName matInput formControlName="unitName" placeholder="Unit Name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Counter precision</mat-label>
      <mat-select formControlName="counterPrecision" [errorStateMatcher]="errorMatcher">
        @for (item of counterPrecisionOptions; track item) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
      @if (editForm.controls.counterPrecision.errors?.precisionForEmptyUnitName) {
        <mat-error>Precision for empty unit is not allowed</mat-error>
      }
    </mat-form-field>

    <app-core-save-dialog-panel [editState]="this.editStateSignal()" [loading]="this.readRepository.loadingSignal()" (createClick)="onSave()" (saveClick)="onSave()" (cancelClick)="onCancel()"></app-core-save-dialog-panel>
  </form>
}

<app-core-loading-progress [loading]="loadingSignal()"></app-core-loading-progress>
