@let refs = readRepository.dataSignal()[0];
@let paymentObjects = refs?.paymentObjectList ?? [];
@let paymentGroups = refs?.paymentGroupList ?? [];

<form class="app-form" [formGroup]="editForm">
  <mat-form-field>
    <mat-label>Payment object</mat-label>
    <mat-select formControlName="paymentObject" [errorStateMatcher]="errorMatcher">
      @for (item of paymentObjects; track item.id) {
        <mat-option [value]="item.id">{{item.name}}</mat-option>
      }
    </mat-select>
    @if (editForm.controls.paymentObject.errors?.required) {
      <mat-error>Payment object should not be empty</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Payment group from</mat-label>
    <mat-select formControlName="paymentGroupFrom" [errorStateMatcher]="errorMatcher">
      @for (item of paymentGroups; track item.id) {
        <mat-option [value]="item.id">{{item.name}}</mat-option>
      }
    </mat-select>
    @if (editForm.controls.paymentGroupFrom.errors?.required) {
      <mat-error>Payment group <strong>from</strong> should not be empty</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Payment group to</mat-label>
    <mat-select formControlName="paymentGroupTo" [errorStateMatcher]="errorMatcher">
      @for (item of paymentGroups; track item.id) {
        <mat-option [value]="item.id">{{item.name}}</mat-option>
      }
    </mat-select>
    @if (editForm.controls.paymentGroupTo.errors?.required) {
      <mat-error>Payment group <strong>to</strong> should not be empty</mat-error>
    }
    @if (editForm.controls.paymentGroupTo.errors?.equalsFrom) {
      <mat-error>Payment groups should be different</mat-error>
    }
  </mat-form-field>

  <div class="app-form-actions">
    <button type="button" matButton="outlined" (click)="importClick()" [disabled]="loadingSignal()">Update</button>
  </div>
</form>

<app-core-loading-progress [loading]="loadingSignal()"></app-core-loading-progress>
