<form class="form-group" [formGroup]="editForm">

  <label for="paymentObject" class="mt-2"><strong>Payment object</strong></label>
  <select
    class="form-select"
    [ngClass]="{'is-invalid': editForm.controls.paymentObject.errors && formSubmitted}"
    formControlName="paymentObject"
    id="paymentObject"
    >
    @for (item of getPaymentObjects(); track item) {
      <option value="{{item.id}}">{{item.name}}</option>
    }
  </select>

  <label for="paymentGroupFrom" class="mt-2"><strong>Payment group from</strong></label>
  <select
    class="form-select"
    [ngClass]="{'is-invalid': editForm.controls.paymentGroupFrom.errors && formSubmitted}"
    formControlName="paymentGroupFrom"
    id="paymentGroupFrom"
    >
    @for (item of getPaymentGroups(); track item) {
      <option value="{{item.id}}">{{item.name}}</option>
    }
  </select>

  <label for="paymentGroupTo" class="mt-2"><strong>Payment group to</strong></label>
  <select
    class="form-select"
    [ngClass]="{'is-invalid': editForm.controls.paymentGroupTo.errors && formSubmitted}"
    formControlName="paymentGroupTo"
    id="paymentGroupTo"
    >
    @for (item of getPaymentGroups(); track item) {
      <option value="{{item.id}}">{{item.name}}</option>
    }
  </select>

  @if (editForm.controls.paymentObject.errors && formSubmitted) {
    <div class="invalid-feedback">
      @if (editForm.controls.paymentObject.errors.required) {
        <div>Payment object should not be empty</div>
      }
    </div>
  }

  @if (editForm.controls.paymentGroupFrom.errors && formSubmitted) {
    <div class="invalid-feedback">
      @if (editForm.controls.paymentGroupFrom.errors.required) {
        <div>Payment group <strong>from</strong> should not be empty</div>
      }
    </div>
  }

  @if (editForm.controls.paymentGroupTo.errors && formSubmitted) {
    <div class="invalid-feedback">
      @if (editForm.controls.paymentGroupTo.errors.required) {
        <div>Payment group <strong>to</strong> should not be empty</div>
      }
      @if (editForm.controls.paymentGroupTo.errors.equalsFrom) {
        <div>Payment groups should be different</div>
      }
    </div>
  }

  <div class="input-group mt-2 justify-content-end">
    <button type="button" class="btn btn-outline-primary" (click)="importClick()" [disabled]="repository.getLoading()">Update</button>
  </div>


</form>

<app-core-loading-progress [loadable]="this"></app-core-loading-progress>
