<app-core-add-panel [editable]="this" (addClick)="onAddClick()"></app-core-add-panel>

<table class="table" *ngIf="getEditingState()">
  <thead>
  <tr>
    <th scope="col" class="w-auto">ID</th>
    <th scope="col" class="w-100">Name</th>
    <th scope="col" class="w-auto">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of getPaymentGroups()">
    <td>{{item.id}}</td>
    <td *ngIf="item.url"><a href="{{item.url}}" target="_blank">{{item.name}}</a></td>
    <td *ngIf="!item.url">{{item.name}}</td>
    <td class="text-nowrap">
      <app-core-edit-delete-panel [item]="item" (deleteClick)="onDeleteClick(item)" (editClick)="onEditClick(item)"></app-core-edit-delete-panel>
    </td>
  </tr>
  </tbody>
</table>

