<app-core-add-panel [editable]="this" (addClick)="onAddClick()"></app-core-add-panel>

<table class="table" *ngIf="getEditingState()">
  <thead>
  <tr>
    <th scope="col" class="w-auto">ID</th>
    <th scope="col" class="w-100">Name</th>
    <th scope="col" class="w-auto">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of getPaymentGroups()">
    <td>{{item.id}}</td>
    <td *ngIf="item.url"><a href="{{item.url}}" target="_blank">{{item.name}}</a></td>
    <td *ngIf="!item.url">{{item.name}}</td>
    <td class="text-nowrap">
      <app-core-edit-delete-panel [item]="item" (deleteClick)="onDeleteClick(item)" (editClick)="onEditClick(item)"></app-core-edit-delete-panel>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="editState">
  <form class="form-group" [formGroup]="editForm">
    <label for="inputName">Name</label>
    <input #inputName type="text" class="form-control" [ngClass]="{'is-invalid': editForm.controls.name.errors && editState.submitted}" id="inputName" placeholder="Name" formControlName="name">
    <label for="inputUrl" class="mt-2">Url</label>
    <input #inputUrl type="text" class="form-control" [ngClass]="{'is-invalid': editForm.controls.name.errors && editState.submitted}" id="inputUrl" placeholder="Url" formControlName="url">
    <div *ngIf="editForm.controls.name.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.name.errors.required">Name should not be empty</div>
    </div>
    <div *ngIf="editForm.controls.url.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.url.errors.invalidUrl">Invalid Url</div>
    </div>

    <app-core-save-dialog-panel [editable]="this" [loadable]="repository" (createClick)="onCreate()" (saveClick)="onSave()" (cancelClick)="onCancel()"></app-core-save-dialog-panel>

  </form>
</div>

<app-core-loading-progress [loadable]="repository"></app-core-loading-progress>

