
<div class="d-flex mt-2 mb-2" *ngIf="this.getEditingState()">
  <app-core-add-panel (addClick)="onAddClick()"></app-core-add-panel>
  <div class="ml-auto">
    <app-core-drop-down-more-menu>
      <a class="dropdown-item" href="#" (click)="onSetDefaultOrderClick($event)">Set default order</a>
    </app-core-drop-down-more-menu>
  </div>
</div>

<table class="table" *ngIf="getEditingState()" [ngClass]="this.dragHandlerService.getDragClass()">
  <thead>
    <tr>
      <th scope="col" class="w-auto">ID</th>
      <th scope="col" class="w-100">Name</th>
      <th scope="col" class="w-auto">Actions</th>
    </tr>
  </thead>
  <tbody cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="onDrop($event)">
    <tr cdkDrag *ngFor="let item of getPaymentObjects()" (cdkDragStarted)="this.dragHandlerService.startDrag()">
      <td class="text-nowrap align-middle"><div><app-core-drag-grip cdkDragHandle></app-core-drag-grip> {{item.id}}</div></td>
      <td class="align-middle">{{item.name}}</td>
      <td class="text-nowrap align-middle">
        <app-core-edit-delete-panel [item]="item" (deleteClick)="onDeleteClick(item)" (editClick)="onEditClick(item)"></app-core-edit-delete-panel>
      </td>
      <td *cdkDragPreview><div class="drag-preview">{{item.name}}</div></td>
    </tr>
  </tbody>
</table>

<div *ngIf="editState">
  <form class="form-group" [formGroup]="editForm">
    <label for="inputName"><strong>Name</strong></label>
    <input #inputName type="text" class="form-control" [ngClass]="{'is-invalid': editForm.controls.name.errors && editState.submitted}" id="inputName" placeholder="Name" formControlName="name">
    <div *ngIf="editForm.controls.name.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.name.errors.required">Name should not be empty</div>
      <div *ngIf="editForm.controls.name.errors.existingName">Name should be unique</div>
    </div>

    <app-core-save-dialog-panel [editable]="this" [loadable]="repository" (createClick)="onCreate()" (saveClick)="onSave()" (cancelClick)="onCancel()"></app-core-save-dialog-panel>

  </form>
</div>

<app-core-loading-progress [loadable]="repository"></app-core-loading-progress>
