<div class="container-fluid text-center" *ngIf="repository.getLoading()">
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>

<div class="container-fluid text-right" *ngIf="repository.getDataAvailable()">
  <a class="btn btn-sm" (click)="onAddClick()">
    <i class="fas fa-plus" style="font-size:24px"></i>
  </a>
</div>

<table class="table" *ngIf="repository.getDataAvailable()">
  <thead>
    <tr>
      <th scope="col" class="w-auto">ID</th>
      <th scope="col" class="w-100">Name</th>
      <th scope="col" class="w-auto">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getPaymentObjects()">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td class="text-nowrap">
        <a class="btn btn-sm" (click)="onDeleteClick(item)">
          <i class="fas fa-trash"></i>
        </a>
        <a class="btn btn-sm" (click)="onEditClick(item)">
          <i class="fas fa-edit"></i>
        </a>
    </tr>
  </tbody>
</table>
