<button matIconButton [matMenuTriggerFor]="menu" aria-label="Chart options">
  <mat-icon>settings</mat-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <!-- Keep the menu open while choosing (stop clicks from closing it). -->
  <form class="display-options" [formGroup]="displayOptionsForm" (click)="$event.stopPropagation()">
    <mat-radio-group class="chart-style-group" formControlName="chartStyle">
      <mat-radio-button [value]="ChartStyle.BarChart">{{ChartStyle.BarChart}}</mat-radio-button>
      <mat-radio-button [value]="ChartStyle.StackedBarChart">{{ChartStyle.StackedBarChart}}</mat-radio-button>
      <mat-radio-button [value]="ChartStyle.SideBySideBarChart">{{ChartStyle.SideBySideBarChart}}</mat-radio-button>
    </mat-radio-group>
  </form>
</mat-menu>
