@if (displayMessage(); as message) {
  <div class="container mt-2">
    @if (message.messageType === MessageType.MT_ERROR) {
      <alert type="danger" [dismissible]=true (onClose)="onClosed()">
        {{message.messageText}}
      </alert>
    }
    @if (message.messageType === MessageType.MT_INFO) {
      <alert type="info" [dismissible]=true (onClose)="onClosed()">
        {{message.messageText}}
      </alert>
    }
    @if (message.messageType === MessageType.MT_SUCCESS) {
      <alert type="success" [dismissible]=true (onClose)="onClosed()">
        {{message.messageText}}
      </alert>
    }
    @if (message.messageType === MessageType.MT_WARNING) {
      <alert type="warning" [dismissible]=true (onClose)="onClosed()">
        {{message.messageText}}
      </alert>
    }
  </div>
}
