
<div class="btn-group" dropdown insideClick="false">
  <button id="button-animated" dropdownToggle type="button" class="btn btn-outline-primary ml-2"
          aria-controls="form-dropdown-animated">
    <i class="fas fa-eye fa-lg"></i>
  </button>
  <div id="form-dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
       role="menu" aria-labelledby="button-animated">
    <form class="form-group px-2 py-1">
      <div class="form-check custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="showToolTipsCheckBox" [(ngModel)]="paymentsTableDisplayOptions.showTooltips" name="showTooltips">
        <label class="custom-control-label text-nowrap" for="showToolTipsCheckBox">
          Show tooltips
        </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="compactProductCheckBox" [(ngModel)]="paymentsTableDisplayOptions.compactProducts" name="compactProducts">
        <label class="custom-control-label text-nowrap" for="compactProductCheckBox">
          Compact products
        </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="compactTableCheckBox" [(ngModel)]="paymentsTableDisplayOptions.compactTable" name="compactTable">
        <label class="custom-control-label text-nowrap" for="compactTableCheckBox">
          Compact table
        </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="showTrendCheckBox" [(ngModel)]="paymentsTableDisplayOptions.showTrend" name="showTrend">
        <label class="custom-control-label text-nowrap" for="showTrendCheckBox">
          Show trend
        </label>
      </div>
    </form>
  </div>
</div>
