  /* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';

.jumbotron {
  padding: 15px 15px !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  background-image: url("assets/images/rain3.jpg");
  background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.w-5 {
  width: 5%!important;
}

.w-10 {
  width: 10%!important;
}

.w-15 {
  width: 15%!important;
}

.w-50 {
  width: 50%!important;
}

.w-20 {
  width: 20%!important;
}

.w-25 {
  width: 20%!important;
}

.w-30 {
  width: 20%!important;
}

.old_fa-css-prefix-lg {
  font-size: calc(4em / 3);
  line-height: calc(3em / 4);
  vertical-align: -.075em;
}

.tooltip-inner {
  border: 1px solid #ddd;
}

.badge-value {
  font-weight: 400 !important;
}

.badge-value-light {
  color: #fff;
  background-color: #6c757dad;
}

.cursor-grip {
  cursor: move;
}

.fa-grip {
  opacity: 0.5;
  @extend .cursor-grip;
}

div.drag-preview {
  border:dashed 1px #aaaaaa;
  border-radius: $border-radius;
  padding: $table-cell-padding-y;
  vertical-align: middle;
  position:relative;
  top:-1.25rem;
  background-color: #dddddd;
  opacity: 0.9;
}

// fix table borders in bootstrap 5
.table thead th {
  border-top: 1px solid $table-border-color;
  border-bottom: 2px solid $table-border-color;
}

// fix link underline in bootstrap 5
a:not([class*="btn"]):not([class*="nav-link"]) {
  text-decoration: none;
}

a:not([class*="btn"]):not([class*="nav-link"]):hover {
  text-decoration: underline;
}

// fix label bottom margin changes in bootstrap 5
label {
  margin-bottom: 0.5rem
}
