
<app-core-add-panel [editable]="this" (addClick)="onAddClick()"></app-core-add-panel>

<div class="row" *ngIf="getEditingState()">
  <div class="col-md-6 col-lg-8 col-xl-9">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" class="w-auto">ID</th>
        <th scope="col" class="w-50">Group</th>
        <th scope="col" class="w-50">Product</th>
        <th scope="col" class="w-auto">Counter</th>
        <th scope="col" class="w-auto">Payment</th>
        <th scope="col" class="w-auto">Commission</th>
        <th scope="col" class="w-auto">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of getPayments()">
        <td>{{item.id}}</td>
        <td>{{item.paymentGroup.name}}</td>
        <td>{{item.product.name}}</td>
        <td>{{item.productCounter}} {{item.product.unitName}}</td>
        <td>{{item.paymentAmount}}</td>
        <td>{{item.commissionAmount}}</td>
        <td class="text-nowrap">
          <app-core-edit-delete-panel [item]="item" (deleteClick)="onDeleteClick(item)" (editClick)="onEditClick(item)"></app-core-edit-delete-panel>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3"><app-payments-summary></app-payments-summary></div>
</div>

<div *ngIf="getEditState()">
  <form class="form-group" [formGroup]="editForm">

    <label for="paymentGroup" class="mt-2"><strong>Payment group</strong></label>
    <select
      class="browser-default custom-select"
      [ngClass]="{'is-invalid': editForm.controls.paymentGroup.errors && editState.submitted}"
      formControlName="paymentGroup"
      id="paymentGroup"
    >
      <option *ngFor="let item of getPaymentGroups()" value="{{item.id}}">{{item.name}}</option>
    </select>

    <div class="d-flex mt-2" [ngClass]="{'is-invalid': (editForm.controls.product.errors || editForm.controls.productCounter.errors) && editState.submitted}">
      <div class="flex-grow-1">
        <label for="product"><strong>Product</strong></label>
        <select
          class="browser-default custom-select"
          [ngClass]="{'is-invalid': editForm.controls.product.errors && editState.submitted}"
          formControlName="product"
          id="product">
          <option *ngFor="let item of getProducts()" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="ml-2">
        <div class="d-flex justify-content-between">
          <label for="productCounter" class="text-nowrap"><strong>Counter</strong></label>
          <app-core-previous-metric-label [metricValue]="prevPeriodPayment && prevPeriodPayment.productCounter"></app-core-previous-metric-label>
        </div>
        <input
          type="number"
          step="0.01"
          min="0"
          max="1000000"
          class="form-control text-right"
          formControlName="productCounter"
          id="productCounter"
          [ngClass]="{'is-invalid': editForm.controls.productCounter.errors && editState.submitted}"
        >
      </div>
      <div class="ml-2">
        <form class="form-group" [formGroup]="productUsageForm">
          <label for="productUsageCounter" class="text-nowrap"><strong>Usage</strong></label>
          <input
            class="form-control text-right"
            id="productUsageCounter"
            formControlName="productUsageCounter"
            [readonly]="true"
          >
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <label for="paymentAmount"><strong>Payment amount</strong></label>
      <app-core-previous-metric-label [metricValue]="prevPeriodPayment && prevPeriodPayment.paymentAmount"></app-core-previous-metric-label>
    </div>
    <input
      type="number"
      step="0.01"
      min="0"
      class="form-control text-right"
      [ngClass]="{'is-invalid': editForm.controls.paymentAmount.errors && editState.submitted}"
      formControlName="paymentAmount"
      id="paymentAmount"
    >

    <div class="d-flex justify-content-between mt-2">
      <label for="commissionAmount"><strong>Commission amount</strong></label>
      <app-core-previous-metric-label [metricValue]="prevPeriodPayment && prevPeriodPayment.commissionAmount"></app-core-previous-metric-label>
    </div>
    <input
      type="number"
      step="0.01"
      min="0"
      class="form-control text-right"
      formControlName="commissionAmount"
      id="commissionAmount"
    >

    <div *ngIf="editForm.controls.paymentGroup.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.paymentGroup.errors.required">Payment group should not be empty</div>
    </div>

    <div *ngIf="editForm.controls.product.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.product.errors.required">Product should not be empty</div>
      <div *ngIf="editForm.controls.product.errors.existingProduct">Product should not already exist</div>
    </div>

    <div *ngIf="editForm.controls.productCounter.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.productCounter.errors.lessThanPreviousPeriod">Counter should not be less than in the previous period</div>
    </div>

    <div *ngIf="editForm.controls.paymentAmount.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.paymentAmount.errors.required">Payment amount should not be empty</div>
    </div>

    <app-core-save-dialog-panel [editable]="this" [loadable]="readRepository" (createClick)="onCreate()" (saveClick)="onSave()" (cancelClick)="onCancel()"></app-core-save-dialog-panel>

  </form>

</div>

<app-core-loading-progress [loadable]="readRepository"></app-core-loading-progress>
