
<div class="d-flex mt-2 mb-2">
  <div><app-core-add-panel [editable]="this" (addClick)="onAddClick()"></app-core-add-panel></div>
  <div class="ml-auto">
    <button
      class="btn btn-outline-primary ml-2"
      *ngIf="isCloneAvailable()"
      (click)="duplicatePreviousPeriodOnClick($event)"
    >
      <i class="fas fa-clone fa-lg"></i> Clone previous
    </button>

    <app-payments-table-display-options [paymentsTableDisplayOptions]="displayOptions" (change)="displayOptionsChanged()"></app-payments-table-display-options>

  </div>
</div>

<div class="row" *ngIf="getEditingState()">
  <div class="col-xl-8">
    <table class="table table-hover table-responsive w-100" [ngClass]="{'table-sm': displayOptions.compactTable}">
      <thead>
      <tr>
        <th scope="col" class="w-5">ID</th>
        <th scope="col" class="w-15">Group</th>
        <th scope="col" class="w-auto">Product</th>
        <th scope="col" class="w-15 text-right">Counter</th>
        <th scope="col" class="w-15 text-right">Payment</th>
        <th scope="col" class="w-10 text-right">Commission</th>
        <th scope="col" class="w-5">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of getPayments()" (click)="tableRowClick(item)" [ngClass]="{'table-active': selectedItems.has(item)}">
        <!-- ID -->
        <td class="text-nowrap">{{item.id}}</td>
        <!-- Group -->
        <td>{{item.paymentGroup.name}}</td>
        <!-- Product -->
        <td
          tooltip={{item.product.name}}
          [isDisabled]="!displayOptions.showTooltips || item.product.name.length < 18"
          delay="500"
          [ngClass]="{'text-truncate': displayOptions.compactProducts}"
        >
          {{item.product.name}}
        </td>
        <!-- Counter -->
        <td class="text-right text-nowrap">
          <div>
            <app-core-colored-value-label [value]="getPrevPeriodProductCounter(item)"></app-core-colored-value-label>
            <a
              href="#"
              (click)="productCounterOnClick($event, item)"
              *ngIf="!inlineEditHandler.isEditorVisible(item, inlineControlType.ProductCounter) && item.productCounter"
            >
              {{item.productCounter}}
            </a>
            <span
              *ngIf="(item.productCounter || getPrevPeriodProductCounter(item))"
            > {{item.product.unitName}}
            </span>
          </div>
          <div *ngIf="!inlineEditHandler.isEditorVisible(item, inlineControlType.ProductCounter) && getPrevPeriodProductCounterDiffByProduct(item) && displayOptions.showTrend">
            <app-core-colored-value-label
              [value]="getPrevPeriodProductCounterDiffByProduct(item) | amount"
              [colorScheme]="colorSchemeType.POS_GREEN_NEG_RED"
            >
            </app-core-colored-value-label>{{item.product.unitName}}
          </div>

          <label *ngIf="inlineEditHandler.isEditorVisible(item, inlineControlType.ProductCounter)" class="mt-2 mb-2">
            <input
              #inlineControl
              type="number"
              min="0"
              class="form-control text-right"
              id="inlineProductCounter"
              (focusout)="inlineEditHandler.inlineControlFocusOut()"
              (click)="inlineEditHandler.inlineControlOnClick($event)"
              (keyup)="inlineEditHandler.inlineControlKeyUp($event, item)"
              [(ngModel)]="inlineEditHandler.inlineSelection.value"
              [ngClass]="{'is-invalid': !inlineEditHandler.inputValidator(item, inlineEditHandler.inlineSelection)}"
            >
          </label>

          <div *ngIf="inlineEditHandler.isEditorVisible(item, inlineControlType.ProductCounter) && getPrevPeriodProductCounterEditDiffByProduct(item)">
            <app-core-colored-value-label
              [value]="getPrevPeriodProductCounterEditDiffByProduct(item) | amount"
              [colorScheme]="colorSchemeType.POS_GREEN_NEG_RED"
            >
            </app-core-colored-value-label>{{item.product.unitName}}
          </div>
        </td>
        <!-- Payment -->
        <td class="text-right text-nowrap">
          <div>
            <app-core-colored-value-label
              [value]="getPrevPeriodPaymentAmount(item) | amount"
            >
            </app-core-colored-value-label>
            <a
              href="#"
              (click)="paymentAmountOnClick($event, item)"
              *ngIf="!inlineEditHandler.isEditorVisible(item, inlineControlType.PaymentAmount)">{{item.paymentAmount | amount}}
            </a>
          </div>

          <div *ngIf="!inlineEditHandler.isEditorVisible(item, inlineControlType.PaymentAmount) && displayOptions.showTrend">
            <app-core-colored-trend-label
              [value]="getPrevPeriodPaymentDiff(item)"
            >
            </app-core-colored-trend-label>
          </div>

          <label *ngIf="inlineEditHandler.isEditorVisible(item, inlineControlType.PaymentAmount)" class="mt-2 mb-2">
              <input
                #inlineControl
                type="number"
                min="0"
                class="form-control text-right"
                id="paymentAmountInline"
                (focusout)="inlineEditHandler.inlineControlFocusOut()"
                (click)="inlineEditHandler.inlineControlOnClick($event)"
                (keyup)="inlineEditHandler.inlineControlKeyUp($event, item)"
                [(ngModel)]="inlineEditHandler.inlineSelection.value"
                [ngClass]="{'is-invalid': !inlineEditHandler.inputValidator(item, inlineEditHandler.inlineSelection)}"
              >
            </label>
        </td>
        <!-- Commission -->
        <td class="text-right text-nowrap">
          <div>
            <app-core-colored-value-label
              [value]="getPrevPeriodCommissionAmount(item) | amount"
            >
            </app-core-colored-value-label>
            <a href="#" (click)="commissionAmountOnClick($event, item)" *ngIf="!inlineEditHandler.isEditorVisible(item, inlineControlType.CommissionAmount)">{{item.commissionAmount | amount}}</a>
          </div>

          <div *ngIf="!inlineEditHandler.isEditorVisible(item, inlineControlType.CommissionAmount) && displayOptions.showTrend">
            <app-core-colored-trend-label
              [value]="getPrevPeriodCommissionDiff(item)"
            >
            </app-core-colored-trend-label>
          </div>

          <label *ngIf="inlineEditHandler.isEditorVisible(item, inlineControlType.CommissionAmount)" class="mt-2 mb-2">
            <input
              #inlineControl
              type="number"
              min="0"
              class="form-control text-right"
              id="commissionAmountInline"
              (focusout)="inlineEditHandler.inlineControlFocusOut()"
              (click)="inlineEditHandler.inlineControlOnClick($event)"
              (keyup)="inlineEditHandler.inlineControlKeyUp($event, item)"
              [(ngModel)]="inlineEditHandler.inlineSelection.value"
              [ngClass]="{'is-invalid': !inlineEditHandler.inputValidator(item, inlineEditHandler.inlineSelection)}"
            >
          </label>

        </td>
        <td class="text-nowrap">
          <app-core-edit-delete-panel [item]="item" (deleteClick)="onDeleteClick(item)" (editClick)="onEditClick(item)"></app-core-edit-delete-panel>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xl-4"><app-payments-summary [selectedItems]="selectedItems"></app-payments-summary></div>
</div>

<div *ngIf="getEditState()">
  <form class="form-group" [formGroup]="editForm">

    <label for="paymentGroup" class="mt-2"><strong>Payment group</strong></label>
    <select
      class="browser-default custom-select"
      [ngClass]="{'is-invalid': editForm.controls.paymentGroup.errors && editState.submitted}"
      formControlName="paymentGroup"
      id="paymentGroup"
    >
      <option *ngFor="let item of getPaymentGroups()" value="{{item.id}}">{{item.name}}</option>
    </select>

    <div class="d-flex mt-2" [ngClass]="{'is-invalid': (editForm.controls.product.errors || editForm.controls.productCounter.errors) && editState.submitted}">
      <div class="flex-grow-1">
        <label for="product"><strong>Product</strong></label>
        <select
          class="browser-default custom-select"
          [ngClass]="{'is-invalid': editForm.controls.product.errors && editState.submitted}"
          formControlName="product"
          id="product">
          <option *ngFor="let item of getProducts()" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="ml-2">
        <div class="d-flex justify-content-between">
          <label for="productCounter" class="text-nowrap"><strong>Counter</strong></label>
          <a href="#" (click)="pervPeriodCounterLabelClick($event, prevPeriodPayment.productCounter)">
            <app-core-colored-value-label [value]="prevPeriodPayment && prevPeriodPayment.productCounter"></app-core-colored-value-label>
          </a>
        </div>
        <input
          type="number"
          step="0.01"
          min="0"
          max="1000000"
          class="form-control text-right"
          formControlName="productCounter"
          id="productCounter"
          [ngClass]="{'is-invalid': editForm.controls.productCounter.errors && editState.submitted}"
        >
      </div>
      <div class="ml-2">
        <form class="form-group" [formGroup]="productUsageForm">
          <label for="productUsageCounter" class="text-nowrap"><strong>Usage</strong></label>
          <input
            class="form-control text-right"
            id="productUsageCounter"
            formControlName="productUsageCounter"
            [readonly]="true"
          >
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <label for="paymentAmount"><strong>Payment amount</strong></label>
      <app-core-colored-value-label [value]="prevPeriodPayment && prevPeriodPayment.paymentAmount"></app-core-colored-value-label>
    </div>
    <input
      type="number"
      step="0.01"
      min="0"
      class="form-control text-right"
      [ngClass]="{'is-invalid': editForm.controls.paymentAmount.errors && editState.submitted}"
      formControlName="paymentAmount"
      id="paymentAmount"
    >

    <div class="d-flex justify-content-between mt-2">
      <label for="commissionAmount"><strong>Commission amount</strong></label>
      <app-core-colored-value-label [value]="prevPeriodPayment && prevPeriodPayment.commissionAmount | amount"></app-core-colored-value-label>
    </div>
    <input
      type="number"
      step="0.01"
      min="0"
      class="form-control text-right"
      formControlName="commissionAmount"
      id="commissionAmount"
    >

    <div *ngIf="editForm.controls.paymentGroup.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.paymentGroup.errors.required">Payment group should not be empty</div>
    </div>

    <div *ngIf="editForm.controls.product.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.product.errors.required">Product should not be empty</div>
      <div *ngIf="editForm.controls.product.errors.existingProduct">Product should not already exist</div>
    </div>

    <div *ngIf="editForm.controls.productCounter.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.productCounter.errors.lessThanPreviousPeriod">Counter should not be less than in the previous period</div>
    </div>

    <div *ngIf="editForm.controls.paymentAmount.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.paymentAmount.errors.required">Payment amount should not be empty</div>
    </div>

    <app-core-save-dialog-panel [editable]="this" [loadable]="readRepository" (createClick)="onCreate()" (saveClick)="onSave()" (cancelClick)="onCancel()"></app-core-save-dialog-panel>

  </form>

</div>

<app-core-loading-progress [loadable]="readRepository"></app-core-loading-progress>
