
<app-core-add-panel [editable]="this" (addClick)="onAddClick()"></app-core-add-panel>

<div class="row" *ngIf="getEditingState()">
  <div class="col-sm-8">
    <table class="table">
      <thead>
      <tr>
        <th scope="col" class="w-auto">ID</th>
        <th scope="col" class="w-50">Group</th>
        <th scope="col" class="w-50">Product</th>
        <th scope="col" class="w-auto">Counter</th>
        <th scope="col" class="w-auto">Payment</th>
        <th scope="col" class="w-auto">Commission</th>
        <th scope="col" class="w-auto">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of getPayments()">
        <td>{{item.id}}</td>
        <td>{{item.paymentGroup.name}}</td>
        <td>{{item.product.name}}</td>
        <td>{{item.productCounter}} {{item.product.unitName}}</td>
        <td>{{item.paymentAmount}}</td>
        <td>{{item.commissionAmount}}</td>
        <td class="text-nowrap">
          <app-core-edit-delete-panel [item]="item" (deleteClick)="onDeleteClick(item)" (editClick)="onEditClick(item)"></app-core-edit-delete-panel>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4"><app-payments-summary></app-payments-summary></div>
</div>

<div *ngIf="getEditState()">
  <form class="form-group" [formGroup]="editForm">

    <label for="paymentGroup" class="mt-2"><strong>Payment group</strong></label>
    <select
      class="browser-default custom-select"
      formControlName="paymentGroup"
      id="paymentGroup"
    >
      <option *ngFor="let item of getPaymentGroups()" value="{{item.id}}">{{item.name}}</option>
    </select>

    <div class="d-flex mt-2" [ngClass]="{'is-invalid': editForm.controls.product.errors && editState.submitted}">
      <div class="flex-grow-1">
        <label for="product"><strong>Product</strong></label>
        <select
          class="browser-default custom-select"
          [ngClass]="{'is-invalid': editForm.controls.product.errors && editState.submitted}"
          formControlName="product"
          id="product">
          <option *ngFor="let item of getProducts()" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="ml-2">
        <label for="productCounter" class="text-nowrap"><strong>Counter</strong></label>
        <input
          type="number"
          step="0.01"
          min="0"
          max="1000000"
          class="form-control text-right"
          formControlName="productCounter"
          id="productCounter"
        >
      </div>
    </div>


    <!--
    <table>
    <tr>
      <td class="w-100">
      </td>

      <td class="auto">
      </td>
    </table>
    -->

    <label for="paymentAmount" class="mt-2"><strong>Payment amount</strong></label>
    <input
      type="number"
      step="0.01"
      min="0"
      class="form-control text-right"
      [ngClass]="{'is-invalid': editForm.controls.paymentAmount.errors && editState.submitted}"
      formControlName="paymentAmount"
      id="paymentAmount"
    >

    <label for="commissionAmount" class="mt-2"><strong>Commission amount</strong></label>
    <input
      type="number"
      step="0.01"
      min="0"
      class="form-control text-right"
      [ngClass]="{'is-invalid': editForm.controls.commissionAmount.errors && editState.submitted}"
      formControlName="commissionAmount"
      id="commissionAmount"
    >

    <div *ngIf="editForm.controls.product.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.product.errors.existingProduct">Product should not already exist</div>
    </div>

    <div *ngIf="editForm.controls.paymentAmount.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.paymentAmount.errors.required">Payment amount should not be empty</div>
    </div>

    <div *ngIf="editForm.controls.commissionAmount.errors && editState.submitted" class="invalid-feedback">
      <div *ngIf="editForm.controls.commissionAmount.errors.required">Commission amount should not be empty</div>
    </div>

    <app-core-save-dialog-panel [editable]="this" [loadable]="repository" (createClick)="onCreate()" (saveClick)="onSave()" (cancelClick)="onCancel()"></app-core-save-dialog-panel>

  </form>

  <div *ngIf="editForm.controls.product.errors">Existing product: {{editForm.controls.product.errors.existingProduct}},
    Submitted: {{editState.submitted}}
  </div>

</div>

<app-core-loading-progress [loadable]="readRepository"></app-core-loading-progress>
